<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href= "https://spark-small-3000.codio.io/home/index" type="button" class="btn btn-primary"> Go Home</a>
    <%= yield %>
  </body>
</html>
